extends layout

block content
  h1 Books
  a.button(href='/books/new') Create New Book
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
      // each book in books
        tr
          td
            a(href='#') TITLE
          td AUTHOR
          td GENRE
          td YEAR